{% load i18n %}{% autoescape off %}
{% blocktranslate %} you requested a password reset, bro

{% "yo, go to this page and get a new password:" %}
{% block reset_link %} 

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=tok}
{% endblock %}
{% translate 'Your username, in case you are too dumb too remember is: %} {{ user.get_username }}

{% translate "thanks for being a part of the site, bro!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
